# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
.DS_Store
saves
config
run.sh
usercache.json
usernamecache.json
options.txt
logs
CREDITS-fml.txt
options.txt
forge-1.10.2-12.18.3.2511-changelog.txt
Paulscode SoundSystem CodecIBXM License.txt
Paulscode IBXM Library License.txt
LICENSE-new.txt
